@model DiyProjectCalc.Models.DTO.BasicShapeDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BasicShape</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShapeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShapeType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BasicShapeId">Edit</a> |
    <a asp-action="Index" asp-route-ProjectId="@Model?.ProjectId">Back to List</a>
</div>
